.header {
  position: relative;
  font-family: "Shrikhand", cursive;
  padding: 10px;
  box-shadow: grey 0 0 10px;
}
.header h1 {
  text-align: center;
  margin: 0;
}
.header i {
  position: absolute;
  top: 50%;
  left: 25px;
  font-size: 20px;
  transform: translateY(-50%);
}

.footer {
  background-color: #414141;
  color: white;
  font-size: 17px;
  padding: 20px;
}
.footer__title {
  margin: 0;
  font-size: 20px;
  font-family: "Shrikhand", cursive;
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
.footer__list__item {
  margin: 10px 0;
}
.footer__list__item--lighter {
  font-weight: 300;
}
.footer__list i {
  width: 15px;
  font-size: 15px;
  height: fit-content;
  padding-right: 15px;
}

.btn {
  display: block;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  padding: 15px 25px;
  margin: 10px auto;
  font-size: 15px;
  box-shadow: #a6a6a6 0 3px 10px;
}

.functioning__card {
  position: relative;
  background-color: #efefef;
  padding: 25px 30px;
  margin: 10px 0 20px 10px;
  box-shadow: #dadada 0 5px 10px;
  border-radius: 20px;
}
.functioning__card i {
  color: grey;
  font-size: 18px;
  margin-right: 20px;
}
.functioning__card__index {
  position: absolute;
  background-color: #9356DC;
  color: white;
  padding: 3px 8px;
  border-radius: 25px;
  left: -13px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
}
.functioning__card--active {
  background-color: #f2eafb;
}
.functioning__card--active i {
  color: #9356DC;
}

.restaurant {
  background-color: #efefef;
}
.restaurant__card {
  position: relative;
  margin: 20px 0;
  box-shadow: #dadada 0 5px 10px;
  border-radius: 15px;
}
.restaurant__card__img { /*Temporary*/
  height: 200px;
  background-color: grey;
  border-radius: 15px 15px 0 0;
}
.restaurant__card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 15px 15px;
  padding: 20px;
}
.restaurant__card__info p {
  margin: 0;
  font-size: 18px;
}
.restaurant__card__info p:nth-child(2) {
  font-weight: 300;
  font-size: 16px;
}
.restaurant__card__info .fa-heart {
  position: relative;
  font-size: 25px;
  transition: color 0.2s;
}
.restaurant__card__info .fa-heart.fa-solid {
  position: absolute;
  inset: 0;
  color: #9356DC;
  opacity: 0;
  transition: opacity 0.2s;
}
.restaurant__card__info .fa-heart.fa-regular:hover {
  color: white;
}
.restaurant__card__info .fa-heart.fa-regular:hover .fa-solid {
  opacity: 1;
}
.restaurant__card--new::before {
  position: absolute;
  content: "Nouveau";
  right: 20px;
  top: 20px;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 2px;
  color: #278870;
  background-color: #99E2D0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-size: 25px;
  font-weight: 600;
}

.content--padding {
  padding: 20px 20px 50px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
}
.location p {
  margin-left: 20px;
}

.description {
  background-color: #efefef;
  padding: 50px;
  text-align: center;
}
.description h2 {
  margin: 0;
  font-size: 30px;
}
.description p {
  font-weight: 300;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
