.header {
  position: relative;
  font-family: "Shrikhand", cursive;
  padding: 20px;
  box-shadow: grey 0 0 10px;
  z-index: 5;
}
.header h1 {
  font-size: 75px;
  text-align: center;
  margin: 0;
  font-weight: lighter;
}
.header i {
  position: absolute;
  top: 50%;
  left: 50px;
  font-size: 50px;
  transform: translateY(-50%);
}

.footer {
  background-color: #414141;
  color: white;
  font-size: 17px;
  padding: 50px 70px;
}
.footer__title {
  margin: 0;
  font-size: 40px;
  font-family: "Shrikhand", cursive;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  font-size: 35px;
}
.footer__list__item {
  margin: 10px 0;
}
.footer__list__item--lighter {
  font-weight: 300;
}
.footer__list i {
  width: 15px;
  height: fit-content;
  padding-right: 70px;
}

.btn {
  display: block;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  border: none;
  border-radius: 100px;
  padding: 40px 0;
  margin: 10px auto;
  width: 550px;
  font-size: 40px;
  box-shadow: #a6a6a6 0 10px 20px;
  transition: all 0.2s;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(to top left, #a978e3, #ffa2e5);
  box-shadow: #a6a6a6 0 3px 2px;
}

.functioning__card {
  position: relative;
  background-color: #efefef;
  padding: 70px 50px 70px 100px;
  margin: 50px 0 50px 50px;
  box-shadow: #cbcbcb 0 8px 30px;
  border-radius: 60px;
  font-size: 35px;
}
.functioning__card i {
  color: grey;
  margin-right: 60px;
  font-size: 40px;
}
.functioning__card__index {
  position: absolute;
  background-color: #9356DC;
  color: white;
  padding: 11px 22px;
  border-radius: 50%;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
}
.functioning__card--active {
  background-color: #f2eafb;
}
.functioning__card--active i {
  color: #9356DC;
}

.restaurant {
  background-color: #efefef;
}
.restaurant__card {
  position: relative;
  margin: 10px 0 50px 0;
  box-shadow: #cbcbcb 0 8px 30px;
  border-radius: 35px;
}
.restaurant__card__img { /*Temporary*/
  height: 450px;
  width: 100%;
  object-fit: cover;
  border-radius: 35px 35px 0 0;
}
.restaurant__card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 35px 35px;
  padding: 35px;
  margin-top: -5px;
}
.restaurant__card__info h4 {
  margin: 0;
  font-size: 45px;
}
.restaurant__card__info p {
  margin: 0;
  margin-top: 10px;
  font-weight: 300;
  font-size: 40px;
}
.restaurant__card--new::before {
  position: absolute;
  content: "Nouveau";
  right: 30px;
  top: 30px;
  font-size: 30px;
  padding: 15px 25px;
  border-radius: 5px;
  color: #278870;
  background-color: #99E2D0;
}

.menu h3 {
  position: relative;
  font-size: 40px;
  font-weight: 300;
  margin: 0 0 50px 5px;
}
.menu h3::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  background-color: #99E2D0;
  height: 8px;
  width: 100px;
}

.menu__card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: #cbcbcb 0 8px 30px;
  margin: 15px 0 30px;
  border-radius: 40px;
  z-index: 1;
  overflow: hidden;
  animation: shade-in 0.4s both;
}
.menu__card--1 {
  animation-delay: 0.2s;
}
.menu__card--2 {
  animation-delay: 0.4s;
}
.menu__card--3 {
  animation-delay: 0.6s;
}
.menu__card--4 {
  animation-delay: 0.8s;
}
.menu__card--5 {
  animation-delay: 1s;
}
.menu__card--6 {
  animation-delay: 1.2s;
}
.menu__card--7 {
  animation-delay: 1.4s;
}
.menu__card--8 {
  animation-delay: 1.6s;
}
.menu__card--9 {
  animation-delay: 1.8s;
}
.menu__card--10 {
  animation-delay: 2s;
}
.menu__card__cont {
  box-sizing: border-box;
  padding: 25px;
  border-radius: 40px 0 0 40px;
  transition: width 0.4s;
  width: 100%;
  font-size: 45px;
}
.menu__card__cont p { /*Title*/
  margin: 5px 0 0 0;
}
.menu__card__cont__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  font-size: 38px;
}
.menu__card__cont__infos p {
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  width: fit-content;
  padding-right: 10px;
}
.menu__card__cont__infos div {
  transform: translateX(-15px);
  transition: transform 0.1s;
}
.menu__card__cont:hover {
  width: calc(100% - 170px);
}
.menu__card__cont:hover div {
  transform: translateX(0);
}
.menu__card__cont:hover + .menu__card__validate {
  width: 170px;
}
.menu__card__cont:hover + .menu__card__validate i {
  visibility: visible;
  font-size: 35px;
  opacity: 1;
  animation: validate-in 0.5s;
  transform: translateX(0);
}
.menu__card__validate {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 40px 40px 0;
  transform-origin: right;
  width: 0;
  z-index: -1;
  transition: width 0.3s;
}
.menu__card__validate i {
  visibility: hidden;
  opacity: 0;
  color: #99E2D0;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 35px;
  transition: opacity 0.3s, transform 0.5s, visibility 0.3s;
}

@keyframes shade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes validate-in {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(50%, 50%);
  margin-left: -280px;
}
.loading__bar {
  position: absolute;
  content: "";
  width: 45px;
  height: 500px;
  background-color: black;
  transform-origin: bottom;
  animation: loading-stop 2s forwards, loading 0.5s alternate 2s both 5;
}
.loading__bar--1 {
  margin-left: 80px;
  animation-delay: 0.2s;
  background-color: #9356DC;
}
.loading__bar--2 {
  margin-left: 160px;
  animation-delay: 0.4s;
  background-color: #99E2D0;
}
.loading__bar--3 {
  margin-left: 240px;
  animation-delay: 0.6s;
  background-color: #FF79DA;
}
.loading__bar--4 {
  margin-left: 320px;
  animation-delay: 0.8s;
  background-color: #99E2D0;
}
.loading__bar--5 {
  margin-left: 400px;
  animation-delay: 1s;
  background-color: #9356DC;
}
.loading__bar--6 {
  margin-left: 480px;
  animation-delay: 1.2s;
  background-color: #FF79DA;
}

@keyframes loading {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.5);
  }
}
@keyframes loading-stop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-size: 65px;
}

.content--padding {
  padding: 30px 50px 100px;
}
.content--padding--soft {
  padding: 30px 50px;
}

.fa-heart {
  position: relative;
  font-size: 55px;
  transition: color 0.2s;
  margin-right: 20px;
}
.fa-heart.fa-solid {
  position: absolute;
  inset: 0;
  color: #9356DC;
  opacity: 0;
  transition: opacity 0.2s;
}
.fa-heart.fa-regular:hover {
  color: white;
}
.fa-heart.fa-regular:hover .fa-solid {
  opacity: 1;
}

.location {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  font-size: 40px;
}
.location p {
  margin-left: 40px;
}

.description {
  background-color: #efefef;
  padding: 100px;
  text-align: center;
}
.description h2 {
  margin: 0;
  font-size: 65px;
}
.description p {
  font-weight: 300;
  font-size: 45px;
}

.detail {
  background-color: #efefef;
  border-radius: 50px 50px 0 0;
  padding-bottom: 60px;
}

.presentation__img {
  position: relative;
  width: 100%;
  height: 600px;
  object-fit: cover;
  z-index: -1;
}

.detail__title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 55px 20px 55px;
  margin-top: -50px;
  border-radius: 50% 50% 0 0;
  z-index: 1;
}
.detail__title h2 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 65px;
  margin: 0;
}

.main {
  animation: main-in 1s 2s both;
}

@keyframes main-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
