@import "utils/variables";
@import "components/header";
@import "components/footer";
@import "components/buttons";
@import "components/functioning";
@import "components/restaurant";
@import "components/menu";
body {
  margin: 0;
  font-family: $font-content;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
h3 {
  font-size: 25px;
  font-weight: 600;
}

.content--padding {
  padding: 20px 20px 50px;
  &--soft {
    padding: 20px 20px 10px 20px;
  }
}

// heart animation hover
.fa-heart {
  position: relative;
  font-size: 25px;
  transition: color .2s;
  &.fa-solid{
    position: absolute;
    inset: 0;
    color:$color-primary;
    opacity: 0;
    transition: opacity .2s;
  }
  &.fa-regular {
    &:hover {
      color: white;
      .fa-solid{
        opacity: 1;
      }
    }
  }

}

// Location
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;

  p {
    margin-left: 20px;
  }
}

// Description
.description {
  background-color: $color-bg;
  padding: 50px;
  text-align: center;

  h2 {
    margin: 0;
    font-size: 30px;
  }

  p {
    font-weight: 300;
    font-size: 20px;
  }
}

// Detail
.detail {
  background-color: $color-bg;
  border-radius: 50px 50px 0 0;
  padding-bottom: 60px;
}
.presentation__img {
  height: 300px;
  background-color: #b2b2b2;
}
.detail__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 45px 0 20px;
  margin-top: -50px;
  border-radius: 50px 50px 0 0 ;
  h2{
    font-family: $font-title;
    font-weight: lighter;
    font-size: 27px;
    margin-bottom: 10px;
  }
  i {
  font-size: 25px;
  }
}

