@import "utils/variables";
@import "components/header";
@import "components/footer";
@import "components/buttons";
@import "components/functioning";
@import "components/restaurant";
@import "components/menu";
@import "components/loading";
body {
  margin: 0;
  font-family: $font-content;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
h3 {
  font-size: 65px;
}

.content--padding {
  padding: 30px 50px 100px;
  &--soft {
    padding: 30px 50px ;
  }
}

// heart animation hover
.fa-heart {
  position: relative;
  font-size: 55px;
  transition: color .2s;
  margin-right: 20px;
  &.fa-solid{
    position: absolute;
    inset: 0;
    color:$color-primary;
    opacity: 0;
    transition: opacity .2s;
  }
  &.fa-regular {
    &:hover {
      color: white;
      .fa-solid{
        opacity: 1;
      }
    }
  }

}

// Location
.location {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  font-size: 40px;
  p {
    margin-left: 40px;
  }
}

// Description
.description {
  background-color: $color-bg;
  padding: 100px;
  text-align: center;
  h2 {
    margin: 0;
    font-size: 65px;
  }
  p {
    font-weight: 300;
    font-size: 45px;
  }
}

// Detail
.detail {
  background-color: $color-bg;
  border-radius: 50px 50px 0 0;
  padding-bottom: 60px;
}
.presentation__img {
  position: relative;
  width: 100%;
  height: 600px;
  object-fit: cover;
  z-index: -1;
}
.detail__title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 55px 20px 55px ;
  margin-top: -50px;
  border-radius: 50% 50% 0 0 ;
  z-index: 1;
  h2{
    font-family: $font-title;
    font-weight: lighter;
    font-size: 65px;
    margin: 0;
  }
}

// Chargin animation

.main {
  animation: main-in 1s $loading-time both;
}
@keyframes main-in {
  0%{
   opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

