.btn {
  display: block;
  background : linear-gradient(to top left, $color-primary , $color-secondary);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  padding: 15px 0;
  margin: 10px auto;
  width: 220px;
  font-size: 15px;
  box-shadow: $box-shad-button;
}

