.btn {
  display: block;
  background : linear-gradient(to top left, $color-primary , $color-secondary);
  color: white;
  border: none;
  border-radius: 100px;
  padding: 40px 0;
  margin: 10px auto;
  width: 550px;
  font-size: 40px;
  box-shadow: $box-shad-button;
  transition: all .2s;
  cursor: pointer;
  &:hover {
    background: linear-gradient(to top left, lighten($color-primary, 8%) , lighten($color-secondary, 8%));
    box-shadow: $box-shad-button-hover;
  }
}

