.footer {
  background-color: $color-footer;
  color: white;
  font-size: 17px;
  padding: 50px 70px ;
  &__title{
    margin: 0;
    font-size: 40px;
    font-family: $font-title;
  }
  &__list {
    list-style-type: none;
    padding: 0;
    font-size: 35px;
    &__item {
      margin: 10px 0;
      &--lighter {
        font-weight: 300;
      }
    }
    i{
      width: 15px;
      height: fit-content;
      padding-right: 70px ;
    }
  }

}