// Functioning
.functioning {
  &__card {
    position: relative;
    background-color: $color-bg;
    padding: 25px 30px;
    margin: 10px 0 20px 10px;
    box-shadow: $box-shad-content;
    border-radius: 20px;
    i {
      color: grey;
      font-size: 18px;
      margin-right: 20px;
    }
    &__index {
      position: absolute;
      background-color: $color-primary;
      color: white;
      padding: 3px 8px;
      border-radius: 25px;
      left: -13px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 15px;
    }
    &--active {
      background-color: lighten($color-primary,35%);
      i{
        color: $color-primary;
      }
    }
  }
}