// Functioning
.functioning {
  &__card {
    position: relative;
    background-color: $color-bg;
    padding: 70px 50px 70px 100px;
    margin: 50px 0 50px 50px;
    box-shadow: $box-shad-content;
    border-radius: 60px;
    font-size: 35px;
    i {
      color: grey;
      margin-right: 60px;
      font-size: 40px;
    }
    &__index {
      position: absolute;
      background-color: $color-primary;
      color: white;
      padding: 11px 22px;
      border-radius: 50%;
      left: -25px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 40px;
    }
    &--active {
      background-color: lighten($color-primary,35%);
      i{
        color: $color-primary;
      }
    }
  }
}