.loading {
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(50%, 50%);
  margin-left: -280px;

  &__bar {
    position: absolute;
    content: "";
    width: 45px;
    height: 500px;
    background-color: black;
    transform-origin: bottom;
    animation: loading-stop $loading-time forwards, loading .5s alternate $loading-time both 5;
    @for $i from 1 through $num-loading {
      &--#{$i} {
        margin-left: ($i * 80 + px);
        animation-delay: .2s * $i;
        @if $i % 3 == 0 {
          background-color: $color-secondary;
        } @else if $i % 2 == 0 {
          background-color: $color-tertiary;
        } @else {
          background-color: $color-primary;
        }
      }
    }
  }
}

@keyframes loading {
  0% {
    transform: scaleY(1) ;
  }
  100% {
    transform: scaleY(0.5) ;
  }
}

@keyframes loading-stop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}