.menu {
  h3{
    position: relative;
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 20px 5px;
    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      background-color: $color-tertiary;
      height: 3px;
      width: 40px;
    }
  }
}
.menu__card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 18px;
  box-shadow: $box-shad-content;
  margin: 15px 0;
  border-radius: 15px;
  animation: shade-in .3s both;
  // Display animation
  @for $i from 1 through $num-cards {
    &--#{$i} {
      animation-delay: .3s * $i;
    }
  }


  &__cont {
    width: 100%;
    padding: 5px;
    border-radius: 15px 0 0 15px;
    transition: width .4s;
    //SUB
    p { /*Title*/
      margin: 0;
    }
    &__infos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;

      p {
        font-weight: 300;
        font-size: 15px;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        text-overflow: ellipsis;
        width: fit-content;
      }

      div {
        margin-right: 15px;
      }

      }
    //HOVER
    &:hover  {
      &+.menu__card__validate  {
        width: 65px;
        i{
          opacity: 1;
          transform:  translateX(0)  ;
        }
      }

    }

  }
    // HOVER EFFECT
    &__validate {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-tertiary;
      border-radius: 0 15px 15px 0;
      transform-origin: right;
      width: 0;
      transition: width .4s ;
      i {
        opacity: 0;
        color: $color-tertiary;
        background-color: white;
        padding: 4px;
        border-radius: 50%;
        font-size: 16px;
        transform: translateX(10px) rotate(360deg);
        transition: opacity .3s, transform .4s;
      }
    }
  }

@keyframes shade-in {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//min-width:60px;
