.menu {
  h3{
    position: relative;
    font-size: 40px;
    font-weight: 300;
    margin: 0 0 50px 5px;
    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      background-color: $color-tertiary;
      height: 8px;
      width: 100px;
    }
  }
}
.menu__card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: $box-shad-content;
  margin: 15px 0 30px;
  border-radius: 40px;
  z-index: 1;
  overflow: hidden;
  animation: shade-in .4s both;
  // Display animation
  @for $i from 1 through $num-cards {
    &--#{$i} {
      animation-delay: .2s * $i;
    }
  }

  &__cont {
    box-sizing: border-box;
    padding: 25px;
    border-radius:40px 0 0 40px;
    transition: width .4s;
    width: 100%;
    font-size: 45px;
    //SUB
    p { /*Title*/
      margin: 5px 0 0 0;
    }
    &__infos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;
      font-size: 38px;
      p {
        font-weight: 300;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        text-overflow: ellipsis;
        width: fit-content;
        padding-right: 10px;
      }

      div {
        transform: translateX(-15px);
        transition: transform .1s;
      }

      }
    //HOVER
    &:hover  {
      width: calc(100% - 170px);
      div{
        transform: translateX(0);
      }
      &+.menu__card__validate  {
        width: 170px;
        i{
          visibility: visible;
          font-size: 35px;
          opacity: 1;
          animation: validate-in .5s ;
          transform:  translateX(0) ;
        }
      }

    }

  }
    // HOVER EFFECT
    &__validate {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-tertiary;
      border-radius: 0 40px 40px 0;
      transform-origin: right;
      width: 0;
      z-index: -1;
      transition: width .3s ;
      i {
        visibility: hidden;
        opacity: 0;
        color: $color-tertiary;
        background-color: white;
        padding: 10px;
        border-radius: 50%;
        font-size: 35px;
        transition: opacity .3s, transform .5s, visibility .3s;
      }
    }
  }

@keyframes shade-in {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes validate-in {
  0%{
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }

}
