.restaurant {
  background-color: $color-bg;

  &__card {
    position: relative;
    margin: 10px 0 50px 0;
    box-shadow: $box-shad-content;
    border-radius: 35px;
    &__img { /*Temporary*/
      height: 450px;
      width: 100%;
      object-fit: cover;
      border-radius: 35px 35px 0 0;
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      border-radius: 0 0 35px 35px;
      padding: 35px;
      margin-top: -5px;
      h4 {
        margin: 0;
        font-size: 45px;
      }
      p {
        margin: 0;
        margin-top: 10px;
        font-weight: 300;
        font-size: 40px;
      }


    }
    &--new {
      &::before {
        position: absolute;
        content: "Nouveau";
        right: 30px;
        top: 30px;
        font-size: 30px;
        padding: 15px 25px;
        border-radius: 5px;
        color: darken($color-tertiary, 40%);
        background-color: $color-tertiary;

      }
    }

  }

}

