// COLOR
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
// FONT
$font-content : 'Roboto', sans-serif;
$font-title :'Shrikhand', cursive;
// BOX SHADOW
$box-shad-color : #b6b6b6;
$box-shad-content : $box-shad-color 0 px 10px;