// COLOR
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-bg : #efefef;
// FONT
$font-content : 'Roboto', sans-serif;
$font-title :'Shrikhand', cursive;
// BOX SHADOW
$box-shad-button : #919191 0 3px 10px;
$box-shad-content : #dadada 0 5px 10px;